[submodule ".registry"]
	path = .registry
	url = https://github.com/iagomosqueira/iagomosqueira.r-universe.dev
	branch = HEAD
[submodule "wmrkdown"]
	path = wmrkdown
	url = https://github.com/iagomosqueira/wmrkdown
